/share/CodeBlocks/abbreviations.zip
/share/CodeBlocks/astyle.zip
/share/CodeBlocks/autosave.zip
/share/CodeBlocks/classwizard.zip
/share/CodeBlocks/codecompletion.zip
/share/CodeBlocks/compiler.zip
/share/CodeBlocks/xpmanifest.zip
/share/CodeBlocks/todo.zip
/share/CodeBlocks/start_here.zip
/share/CodeBlocks/scriptedwizard.zip
/share/CodeBlocks/resources.zip
/share/CodeBlocks/projectsimporter.zip
/share/CodeBlocks/openfileslist.zip
/share/CodeBlocks/occurrenceshighlighting.zip
/share/CodeBlocks/manager_resources.zip
/share/CodeBlocks/defaultmimehandler.zip
/share/CodeBlocks/debugger.zip
/share/CodeBlocks/compilers/options_zpu-gcc.xml
/share/CodeBlocks/compilers/options_tricore-gcc.xml
/share/CodeBlocks/compilers/options_tcc.xml
/share/CodeBlocks/compilers/options_sdcc.xml
/share/CodeBlocks/compilers/options_ppc-gcc.xml
/share/CodeBlocks/compilers/options_pgifortran.xml
/share/CodeBlocks/compilers/options_ow.xml
/share/CodeBlocks/compilers/options_null.xml
/share/CodeBlocks/compilers/options_msvctk.xml
/share/CodeBlocks/compilers/options_msvc8.xml
/share/CodeBlocks/compilers/options_msvc10.xml
/share/CodeBlocks/compilers/options_msp430-gcc.xml
/share/CodeBlocks/compilers/options_lm8-gcc.xml
/share/CodeBlocks/compilers/options_lm32-gcc.xml
/share/CodeBlocks/compilers/options_ldc.xml
/share/CodeBlocks/compilers/options_lcc.xml
/share/CodeBlocks/compilers/options_keilcx51.xml
/share/CodeBlocks/compilers/options_keilc51.xml
/share/CodeBlocks/compilers/options_icc.xml
/share/CodeBlocks/compilers/options_iararm.xml
/share/CodeBlocks/compilers/options_iar8051.xml
/share/CodeBlocks/compilers/options_gfortran.xml
/share/CodeBlocks/compilers/options_gdc.xml
/share/CodeBlocks/compilers/options_gcc.xml
/share/CodeBlocks/compilers/options_g95.xml
/share/CodeBlocks/compilers/options_dmd.xml
/share/CodeBlocks/compilers/options_dmc.xml
/share/CodeBlocks/compilers/options_cygwin.xml
/share/CodeBlocks/compilers/options_common_warnings.xml
/share/CodeBlocks/compilers/options_common_warnings-msvc.xml
/share/CodeBlocks/compilers/options_common_sort.xml
/share/CodeBlocks/compilers/options_common_runtime.xml
/share/CodeBlocks/compilers/options_common_re.xml
/share/CodeBlocks/compilers/options_common_re-msvc.xml
/share/CodeBlocks/compilers/options_common_re-iar.xml
/share/CodeBlocks/compilers/options_common_re-gf.xml
/share/CodeBlocks/compilers/options_common_optimize-msvc.xml
/share/CodeBlocks/compilers/options_common_optimization.xml
/share/CodeBlocks/compilers/options_common_codegen.xml
/share/CodeBlocks/compilers/options_common_cmds.xml
/share/CodeBlocks/compilers/options_common_architecture.xml
/share/CodeBlocks/compilers/options_clang.xml
/share/CodeBlocks/compilers/options_bfin-elf-gcc.xml
/share/CodeBlocks/compilers/options_bcc.xml
/share/CodeBlocks/compilers/options_avr-gcc.xml
/share/CodeBlocks/compilers/options_arm-elf-gcc.xml
/share/CodeBlocks/compilers/compiler_zpu-gcc.xml
/share/CodeBlocks/compilers/compiler_tricore-gcc.xml
/share/CodeBlocks/compilers/compiler_tcc.xml
/share/CodeBlocks/compilers/compiler_sdcc.xml
/share/CodeBlocks/compilers/compiler_ppc-gcc.xml
/share/CodeBlocks/compilers/compiler_pgifortran.xml
/share/CodeBlocks/compilers/compiler_null.xml
/share/CodeBlocks/compilers/compiler_msp430-gcc.xml
/share/CodeBlocks/compilers/compiler_lm8-gcc.xml
/share/CodeBlocks/compilers/compiler_lm32-gcc.xml
/share/CodeBlocks/compilers/compiler_ldc.xml
/share/CodeBlocks/compilers/compiler_dmd.xml
/share/CodeBlocks/compilers/compiler_dmc.xml
/share/CodeBlocks/compilers/compiler_clang.xml
/share/CodeBlocks/compilers/compiler_bfin-elf-gcc.xml
/share/CodeBlocks/compilers/compiler_bcc.xml
/share/CodeBlocks/compilers/compiler_avr-gcc.xml
/codeblocks.dll
