/share/CodeBlocks/abbreviations.zip
/share/CodeBlocks/astyle.zip
/share/CodeBlocks/autosave.zip
/share/CodeBlocks/classwizard.zip
/share/CodeBlocks/codecompletion.zip
/share/CodeBlocks/xpmanifest.zip
/share/CodeBlocks/todo.zip
/share/CodeBlocks/start_here.zip
/share/CodeBlocks/scriptedwizard.zip
/share/CodeBlocks/projectsimporter.zip
/share/CodeBlocks/openfileslist.zip
/share/CodeBlocks/occurrenceshighlighting.zip
/share/CodeBlocks/defaultmimehandler.zip
/share/CodeBlocks/debugger.zip
/share/CodeBlocks/plugins/OccurrencesHighlighting.dll
/share/CodeBlocks/plugins/abbreviations.dll
/share/CodeBlocks/plugins/astyle.dll
/share/CodeBlocks/plugins/autosave.dll
/share/CodeBlocks/plugins/classwizard.dll
/share/CodeBlocks/plugins/codecompletion.dll
/share/CodeBlocks/plugins/compiler.dll
/share/CodeBlocks/plugins/debugger.dll
/share/CodeBlocks/plugins/defaultmimehandler.dll
/share/CodeBlocks/plugins/openfileslist.dll
/share/CodeBlocks/plugins/projectsimporter.dll
/share/CodeBlocks/plugins/scriptedwizard.dll
/share/CodeBlocks/plugins/todo.dll
/share/CodeBlocks/plugins/xpmanifest.dll
/share/CodeBlocks/AutoVersioning.zip
/share/CodeBlocks/ToolsPlus.zip
/share/CodeBlocks/docs/index.ini
/share/CodeBlocks/envvars.zip
/share/CodeBlocks/help_plugin.zip
/share/CodeBlocks/plugins/AutoVersioning.dll
/share/CodeBlocks/plugins/ToolsPlus.dll
/share/CodeBlocks/plugins/envvars.dll
/share/CodeBlocks/plugins/help_plugin.dll
/codeblocks.dll
/exchndl.dll
/mingwm10.dll
/wxmsw30u_gl_gcc_47Xsjlj.dll
/wxmsw30u_gcc_47Xsjlj.dll
